/*#region*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* I added this */
*, *::before, *::after {
box-sizing: border-box;
}
/*#endregion*/

body {
  height: 100vh;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

/* 
=========================================
HEADER
=========================================
*/

header {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  display: flex;
  height: 10%;
  justify-content: space-between;
  padding: 5px;
}

h1 {
  /* color: rgb(10, 75, 200); */
  font-size: 30px;
  font-weight: 1000;
}

.creds-div {
  display: flex;
}

.cred {
  margin: 0 10px;
}

/* 
=========================================
MAIN
=========================================
*/

.colours {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
  grid-template-rows: 100%;
  height: 90%;
}

.colour-column {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.colour-column-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 90px;
}

.colour-column-inner-btns {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.colour-column-inner-text {
  align-items: center;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.colour-column-item {
  margin: 10px 0;
}

.colour-column-item-input {
  padding: 0;
  margin: 10px 0;
}

.shades {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.shade {
  align-items: center;
  display: flex;
  cursor: pointer;
  flex-grow: 1;
  justify-content: center;
}

.shade-text {
  opacity: 0;
  text-align: center;
  width: 100%;
}

.shade-text:hover {
  opacity: 1;
}

.hex-text {
  font-size: 20px;
}

/* 
=========================================
BUTTONS
=========================================
*/


.btn-delete {
  background-color: transparent;
  border: none;
  font-size: 20px;
  height: 20px;
  padding: 0;
  width: 20px;
}

.btn-shades {
  background-color: transparent;
  border: none;
  font-size: 30px;
  height: 30px;
  padding: 0;
  width: 30px;
}

.btn-new-colour {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  /* flex-grow: 1; */
  font-size: 20px;
  height: 20%;
  justify-content: center;
  transition: 0.2s all;
  width: 100px;
}

.btn-new-colour:hover {
  /* background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1), transparent); */
  cursor: pointer;
  font-size: 30px;
}

/* 
=========================================
SOMETHING LOL
=========================================
*/

.clickable {
  cursor: pointer;
}

/* 
=========================================
LINKS
=========================================
*/

a {
  color: darkslategray;
  text-decoration: none;
}

a:visited {
  color: darkslategray;
}

/* 
=========================================
TOOLTIPS
=========================================
*/

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  font-size: 14px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}